%p#notice #{notice}




.hero-unit.span12
  %h1 #{ @team.name }
  = link_to 'Back to All Teams', teams_path , :class => 'btn'


.span3
  %ul.nav.nav-stacked
    %li
      %a.btn.btn-large.btn-primary.btn-stat#assists_mode
        Assists
    %li
      %a.btn.btn-large.btn-primary.btn-stat#blocks_mode
        Blocks
    %li
      %a.btn.btn-large.btn-primary.btn-stat#points_mode
        Points 
    %li
      %a.btn.btn-large.btn-primary.btn-stat#fg_p_mode
        FG Percentage (%)
    %li
      %a.btn.btn-large.btn-primary.btn-stat#ft_p_mode
        FT Percentage (%)
    %li
      %a.btn.btn-large.btn-primary.btn-stat#turnovers_mode
        Turnovers
    %li
      %a.btn.btn-large.btn-primary.btn-stat#steals_mode
        Steals
    %li
      %a.btn.btn-large.btn-primary.btn-stat#3pm_mode
        Three Pointers
    %li
      %a.btn.btn-large.btn-primary.btn-stat#rebounds_mode
        Rebounds


.span9
  #teamStatRow
  

  / %label 
  /   %input{:type => "checkbox"} Sort values

  %br

  :css
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      position: relative;
      width: 960px;
    }

    .axis text {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .bar {
      fill: steelblue;
      fill-opacity: .9;
    }

    .x.axis path {
      display: none;
    }

    label {
      position: absolute;
      top: 10px;
      right: 10px;
    }




  = content_for :page_js do 
    :javascript
      setAssists(JSON.parse('#{raw @assists}'));
      setBlocks(JSON.parse('#{raw @blocks}'));
      setFGP(JSON.parse('#{raw @field_goal_percentage}'));
      setFTP(JSON.parse('#{@free_throw_percentage}'));
      setRebounds(JSON.parse('#{@rebounds}'));
      setSteals(JSON.parse('#{@steals}'));
      set3PM(JSON.parse('#{@three_pointers_made}'));
      setPoints(JSON.parse('#{@total_points}'));
      setTurnovers(JSON.parse(' #{@turnovers} '));

      graph(JSON.parse('#{raw @assists}'), 'Assists'); 



