
%p#notice #{notice}




.hero-unit.span12
  %h1 #{ @team.name }
  = link_to 'Back to All Teams', teams_path , :class => 'btn'


.span3
  %ul.nav.nav-list
    %li.stat_li#assists_mode_li
      %a.btn-stat#assists_mode
        Assists
    %li.stat_li#blocks_mode_li
      %a.btn-stat#blocks_mode
        Blocks
    %li.stat_li#points_mode_li
      %a.btn-stat#points_mode
        Points 
    %li.stat_li#fg_p_mode_li
      %a.btn-stat#fg_p_mode
        FG Percentage (%)
    %li.stat_li#ft_p_mode_li
      %a.btn-stat#ft_p_mode
        FT Percentage (%)
    %li.stat_li#turnovers_mode_li
      %a.btn-stat#turnovers_mode
        Turnovers
    %li.stat_li#steals_mode_li
      %a.btn-stat#steals_mode
        Steals
    %li.stat_li#3pm_mode_li
      %a.btn-stat#3pm_mode
        Three Pointers
    %li.stat_li#rebounds_mode_li
      %a.btn-stat#rebounds_mode
        Rebounds


.span9
  #teamStatRow
  
  %br




= content_for :page_js do 
  :javascript
    setAssists(JSON.parse('#{raw @assists}'));
    setBlocks(JSON.parse('#{raw @blocks}'));
    setFGP(JSON.parse('#{raw @field_goal_percentage}'));
    setFTP(JSON.parse('#{@free_throw_percentage}'));
    setRebounds(JSON.parse('#{@rebounds}'));
    setSteals(JSON.parse('#{@steals}'));
    set3PM(JSON.parse('#{@three_pointers_made}'));
    setPoints(JSON.parse('#{@total_points}'));
    setTurnovers(JSON.parse(' #{@turnovers} '));

    graph(JSON.parse('#{raw @assists}'), 'Assists'); 
    setActiveElement('assists_mode');



