%p#notice #{notice}


%p
  %b Name:
  #{ @team.name }

= link_to 'Edit', edit_team_path(@team) 
| 
= link_to 'Back', teams_path 


%br

:css
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    width: 960px;
  }

  .axis text {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: steelblue;
    fill-opacity: .9;
  }

  .x.axis path {
    display: none;
  }

  label {
    position: absolute;
    top: 10px;
    right: 10px;
  }

%label 
  %input{:type => "checkbox"} Sort values



= content_for :page_js do 
  :javascript
    //= require barGraph
    var sortTimeout = setTimeout(function() {
      d3.select("input").property("checked", true).each(change);
    }, 2000);

    graph(JSON.parse('#{raw @assists}'), 'Assists'); 
    graph(JSON.parse('#{raw @rebounds}'), 'Rebounds');
    graph(JSON.parse('#{raw @blocks}'), 'Blocks');

/ ********** Available Data: *****************
/#{@assists}
/#{@blocks}
/#{@field_goal_percentage}
/#{@free_throw_percentage}
/#{@rebounds}
/#{@steals}
/#{@three_pointers_made}
/#{@total_points} 
/ #{@turnovers} 


