%p#notice #{notice}

%h1.offset6 Week  #{@week}


.span3.offset1
	%ul.nav.nav-list#team_name_checkboxes


.span8
	#box_plot.span8

	#weekly_stat_list_placeholder

	.well
		%legend Add Research Here:
		%input#research_input{:type => "text", :placeholder => "[Team Name] [FG%] [FT%] [3PTM] [PTS] [REB] [AST] [ST] [BLK] [TO]", :style => "width: 100%"}
		%button#add_research_button.btn.btn-large{:href => "#myModal"} Add data

	%script{:type => "text/template", :id => "weekly_stat_template"}
		%td [[= team.attributes.name ]]
		%td [[= field_goal_percentage ]]
		%td [[= free_throw_percentage ]]		
		%td [[= three_pointers_made ]]
		%td [[= total_points ]] 
		%td [[= rebounds ]] 
		%td [[= assists ]]
		%td [[= steals ]] 
		%td [[= blocks ]]
		%td [[= turnovers]]

	%input{ :type => "hidden", :value => "#{@week}", :id => "week_number"}

	= link_to 'Back', weeks_path


= content_for :page_js do 
	:javascript
		var data = JSON.parse('#{raw @client_data}');
		var dataMap = JSON.parse('#{raw @dataMap}');
		loadBoxAndWhisker(data, dataMap);
		loadCheckboxes(JSON.parse('#{raw @teamNames}'));	
		loadWeeklyStatViews(); 
		renderPage(); 
		$('.team_li').click(teamClickHandler);

