!!!
%html

  %head
    %title Fantasy Basketball Tracker
    = stylesheet_link_tag "application", :media => "all"
    #{csrf_meta_tags}
  
  %body
    = yield

  = javascript_include_tag "application"
  = yield :page_js

